

.main {
  height: 100%;
  font-family: "Rubik", Helvetica, sans-serif;
  margin: auto;
  color: #232323;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}
@media (min-width: 1313px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 1312px) {
  .main {
    width: 100%;
  }
}

.intro-wrap {
  width: 100%;
  background-color: rgba(255, 190, 24, 1);
  margin-bottom: 2rem;
}

.intro {
  width: 1080px;
  display: flex;
  margin: auto;
  padding-bottom: 2rem;
}
@media (max-width: 1312px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.intro__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1312px) {
  .intro__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.intro__info--heading {
  font-family: "Gibroma", sans-serif;
  font-size: 4.25rem;
  margin-bottom: 0;
}
@media (max-width: 1312px) {
  .intro__info--heading {
    text-align: center;
    margin-top: 0rem;
    font-size: 4.25rem;
  }
}
@media (max-width: 911px) {
  .intro__info--heading {
    font-size: 3.25rem;
  }
}
@media (max-width: 711px) {
  .intro__info--heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 511px) {
  .intro__info--heading {
    font-size: 1.75rem;
  }
}
.intro__info--subtitle {
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
@media (max-width: 1312px) {
  .intro__info--subtitle {
    text-align: center;
  }
}
@media (max-width: 911px) {
  .intro__info--subtitle {
    font-size: 2.25rem;
  }
}
@media (max-width: 711px) {
  .intro__info--subtitle {
    font-size: 1.75rem;
  }
}
@media (max-width: 511px) {
  .intro__info--subtitle {
    font-size: 1.5rem;
  }
}
.intro__info--btn {
  font-family: "Rubik", Helvetica, sans-serif;
  margin: 0;
  border-radius: 2rem;
  background-color: #f71647;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.intro__info--btn:hover {
  background-color: #f64c72;
}
.intro__photo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1312px) {
  .intro__photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    margin-bottom: 2rem;
  }
}
.intro__photo--img {
  height: 30rem;
}
@media (max-width: 1312px) {
  .intro__photo--img {
    height: 25rem;
  }
}
@media (max-width: 711px) {
  .intro__photo--img {
    height: 20rem;
  }
}
@media (max-width: 511px) {
  .intro__photo--img {
    height: 17.5rem;
  }
}

.explain {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  /* margin-left: 7rem; */
  width: 1080px;
  /* background-color: rgba(255, 190, 24, 1); */
}
.explain__watch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33%;
  /* margin: 3rem 0rem; */
}
.explain__watch--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.explain__watch--text > h3 {
  font-size: 3.5rem;
  text-align: left;
  margin: 0;
  font-family: "Gibroma", sans-serif;
}
.explain__watch--text > p {
  font-size: 1.25rem;
  text-align: justify;
  width: 80%;
  margin-top: 0rem;
  color: #565454;
}
.explain__watch--img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.explain__watch--img > img {
  width: 20rem;
}
.explain__post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33%;
  /* margin: 3rem 0rem; */
}
.explain__post--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.explain__post--text > h3 {
  font-size: 3.5rem;
  text-align: left;
  margin: 0;
  font-family: "Gibroma", sans-serif;
}
.explain__post--text > p {
  font-size: 1.25rem;
  text-align: justify;
  width: 80%;
  margin-top: 0rem;
  color: #565454;
}
.explain__post--img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* order: -1; */
}
.explain__post--img > img {
  width: 20rem;
}
.explain__discuss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33%;
  /* margin: 3rem 0rem; */
}
.explain__discuss--text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.explain__discuss--text > h3 {
  font-size: 3.5rem;
  text-align: left;
  margin: 0;
  font-family: "Gibroma", sans-serif;
}
.explain__discuss--text > p {
  font-size: 1.25rem;
  text-align: justify;
  width: 80%;
  margin-top: 0rem;
  color: #565454;
}
.explain__discuss--img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.explain__discuss--img > img {
  width: 20rem;
}
