/node_modules
/public/hot
/public/storage

/public/css
/public/js
/public/mix-manifest.json
/public/mix.js.map

# for people (cast and crew place holder images)
/public/images/people

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
phploy.ini
