.popular,
.latest,
.recommend {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    width: 1080px;
}

.popular-heading,
.latest-heading,
.recommend-heading {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    padding-left: 4.1rem;
}

.popular-movie,
.latest-movie,
.recommend-movie {
    display: flex;
    justify-content: space-between;
}

.filler-poster,
.real-poster {
    width: 225px;
    height: 350px;
    border-radius: 0.3rem;
    border: 3px solid transparent;
}

.filler-poster:hover,
.real-poster:hover {
    border: 3px solid rgb(40, 201, 40);
    opacity: 0.7;
    cursor: pointer;
}

.filler-poster-person,
.real-poster-person {
    height: 225px;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.results-search-info {
    font-family: "Rubik", Helvetica, sans-serif;
    text-transform: uppercase;
}

.results-search-heading {
    font-family: "Gibroma", sans-serif;
    font-size: 4rem;
    margin: 0;
}

.results {
    width: 1080px;
    margin: auto;
}

.results-movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: "Rubik", Helvetica, sans-serif;
    margin: auto;
    color: #232323;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
}

.rec.rec-arrow {
    background-color: white;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}

.rec.rec-arrow-left:enabled,
.rec.rec-arrow-right:enabled {
    background-color: white;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}

.rec.rec-arrow:hover:enabled {
    color: black;
    background-color: white;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}

.rec.rec-arrow:focus:enabled {
    color: black;
    background-color: white;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.film-credits-wrap {
    width: 860px;
    margin: auto;
    position: relative;
    bottom: 13rem;
    display: flex;
    flex-direction: column;
}

.film-credits-heading {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5rem;
    font-size: 1rem;
}

.cast-character,
.crew-job {
    font-size: 0.8rem;
    width: 100%;

    margin: 0;
}

.cast-name,
.crew-name {
    font-size: 0.8rem;
    width: 90%;
    margin: 0;
}

.search-card-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 190, 24, 1);
}

.search-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    padding-bottom: 2rem;
}

.search-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 190, 24, 1);
}

.search-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-card-heading {
    display: flex;
    flex-direction: column;
}

.search-card-heading h2 {
    font-family: "Gibroma", "Rubik";
    margin: 0;
    padding: 0rem 1rem;
    font-weight: bold;
}

.search-card-heading p {
    font-family: "Rubik", sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 1rem;
}

.search-card-director {
    padding-top: 1rem;
}

.search-card-director p {
    padding: 0rem 1rem;
    margin: 0;
}

.real-poster-search,
.filler-poster-search {
    height: 150px;
    width: 100px;
    border-radius: 0.5rem;
    border: 3px solid transparent;
}

.real-poster-search:hover,
.filler-poster-search:hover {
    border: 3px solid rgb(40, 201, 40);
    opacity: 0.7;
    cursor: pointer;
}

.film-crew-job {
    text-transform: uppercase;
}

.film-crew-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 700px;
    margin: auto;
}

.film-crew {
    width: 300px;
    border-top: 1px solid black;
}

.film-backrop-filler {
    width: 1080px;
    height: 250px;
    background-color: rgba(255, 190, 24, 1);
}

button.rec-dot {
    box-shadow: 0 0 0 0;
    border: 1px solid black;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
    background-color: black;
    box-shadow: 0 0 0 0;
}
